@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
 
    <link rel="stylesheet" type="text/css" href="/Content/_CSS/datetimepicker/jquery.datetimepicker.css" />
<link rel="stylesheet" type='text/css' href='/Content/_CSS/main.css' /> 
<script src='/Scripts/_JS/MyTime.js' type='text/javascript'></script>
<script type="text/javascript" src="/Scripts/_JS/datetimepicker/jquery.datetimepicker.js"></script>

<script src='/Scripts/_JS/Trends/jquery.flot.js' type='text/javascript'></script>
<script src='~/Scripts/_JS/Trends/jquery.flot.stack.js' type='text/javascript'></script>
<script src='/Scripts/_JS/Trends/jquery.flot.selection.js' type='text/javascript'></script>
<script src='/Scripts/_JS/Trends/jquery.flot.canvas.js' type='text/javascript'></script> 
<script src='/Scripts/_JS/Trends/jquery.flot.crosshair.js' type='text/javascript'></script> 
<script src='/Scripts/_JS/Trends/jquery.flot.time.js' type='text/javascript'></script> 
<script src='/Scripts/_JS/Trends/jquery.flot.legendoncanvas.js.js' type='text/javascript'></script> 

<script src="/Scripts/_JS/Trends/trends.js"></script>
<script src="/Scripts/_JS/AdditionalFunctions.js"></script>


@using (Html.BeginForm("GetExcel", "Trends"))
{

<div style="position: absolute; z-index: 0; right: 0px; min-width: 887px; left: 0px; top: 55px; bottom: 0px;">
    <table width="100%" height="100%" style="box-sizing:border-box;border: 2px solid blue;">

        <tr>
            <td id="report_menu" style="box-sizing:border-box;border: 2px solid blue;position:relative;width:300px;height:100%;padding:10px; border-width:2px; top:0px; left:0px; ">
         
                                <div id="signals" class="container " style="position:absolute;width:100%; left:0px; padding:0px;">
                                    <span style="width:100%; font-weight: bold; font-size: 14px; position: relative; align-self:center;top: 0px; color:#336666;margin-top:5px">@Model.object_type_str: </span><br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <select class="form-control" id="obj" name="obj" onchange="getobject_signals()">
                                                @foreach (var b in Model.objects)
                                                {
                                                <option value="@b.Id">@b.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span style="width:100%; font-weight: bold; font-size: 14px; position: relative; align-self:center;top: 0px; color:#336666;margin-top:5px">Период: </span><br />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            Начало:
                                        </div>
                                        <div class="col-md-8">
        <input id="datetimepicker_start" name="datetimepicker_start" class="form-control" type="text">
    </div>
</div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            Конец:
                                        </div>
                                        <div class="col-md-8" >
                                            <input id="datetimepicker_end" name="datetimepicker_end" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"> 
                                        </div>
                                        <div class="col-md-8" >
                                            <input type="button" class="btn btn-default" value="Построить тренд" onclick="PeriodRange()" />
                                        </div>

                                    </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <span style="width:100%; font-weight: bold; font-size: 14px; position: relative; align-self:center;top: 0px; color:#336666;margin-top:5px">Выбор сигнала: </span><br />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div id='trend_color_1' name='trend_color_1' class='col-md-1' style="height: 34px;padding:0px">
                                                    </div>
                                                    <div class="col-md-7" style="padding:0px">
                                                        <select class="form-control" id="trend_1s" name="trend_1s" onchange="change_signal(1)">
                                                            <option value="0"></option>
                                                            @foreach (var b in Model.signals)
                                                            {
                                                                <option  value="@b["signal_id"]">@b["signal_name"]</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2" style="padding:0px">
                                                        <input type="text" class="form-control" id="trend_value_1" name="trend_value_1" style="padding: 2px 2px;">
                                                    </div>
                                                    <div class="col-md-1" style="padding:5px">
                                                        <img id="del_trend_1" src="/Content/_Img/delete.png" style="top:5px;height: 24px;width: 24px;display: none; " />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div id='trend_color_2' name='trend_color_2' class='col-md-1' style="height: 34px;padding:0px">
                                                    </div>
                                                    <div class="col-md-7" style="padding:0px">
                                                        <select class="form-control" id="trend_2s" name="trend_2s" onchange="change_signal(2)">
                                                            <option value="0"></option>
                                                            @foreach (var b in Model.signals)
                                                            {
                                                                <option value="@b["signal_id"]">@b["signal_name"]</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2" style="padding:0px">
                                                        <input type="text" class="form-control" id="trend_value_2" name="trend_value_2" style="padding: 2px 2px;">
                                                    </div>
                                                    <div class="col-md-1" style="padding:5px">
                                                        <img id="del_trend_2" src="/Content/_Img/delete.png" style="top:5px;height: 24px;width: 24px;display: none; " />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div id='trend_color_3' name='trend_color_3' class='col-md-1' style="height: 34px;padding:0px">
                                                    </div>
                                                    <div class="col-md-7" style="padding:0px">
                                                        <select class="form-control" id="trend_3s" name="trend_3s" onchange="change_signal(3)">
                                                            <option value="0"></option>
                                                            @foreach (var b in Model.signals)
                                                            {
                                                                <option value="@b["signal_id"]">@b["signal_name"]</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2" style="padding:0px">
                                                        <input type="text" class="form-control" id="trend_value_3" name="trend_value_3" style="padding: 2px 2px;">
                                                    </div>
                                                    <div class="col-md-1" style="padding:5px">
                                                        <img id="del_trend_3" src="/Content/_Img/delete.png" style="top:5px;height: 24px;width: 24px;display: none; " />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div id='trend_color_4' name='trend_color_4' class='col-md-1' style="height: 34px;padding:0px">
                                                    </div>
                                                    <div class="col-md-7" style="padding:0px">
                                                        <select class="form-control" id="trend_4s" name="trend_4s" onchange="change_signal(4)">
                                                            <option value="0"></option>
                                                            @foreach (var b in Model.signals)
                                                            {
                                                                <option value="@b["signal_id"]">@b["signal_name"]</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2" style="padding:0px">
                                                        <input type="text" class="form-control" id="trend_value_4" name="trend_value_4" style="padding: 2px 2px;">
                                                    </div>
                                                    <div class="col-md-1" style="padding:5px">
                                                        <img id="del_trend_4" src="/Content/_Img/delete.png" style="top:5px;height: 24px;width: 24px;display: none; " />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div id='trend_color_5' name='trend_color_5' class='col-md-1' style="height: 34px;padding:0px">
                                                    </div>
                                                    <div class="col-md-7" style="padding:0px">
                                                        <select class="form-control" id="trend_5s" name="trend_5s" onchange="change_signal(5)">
                                                            <option value="0"></option>
                                                            @foreach (var b in Model.signals)
                                                            {
                                                                <option value="@b["signal_id"]">@b["signal_name"]</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2" style="padding:0px">
                                                        <input type="text" class="form-control" id="trend_value_5" name="trend_value_5" style="padding: 2px 2px;">
                                                    </div>
                                                    <div class="col-md-1" style="padding:5px">
                                                        <img id="del_trend_5" src="/Content/_Img/delete.png" style="top:5px;height: 24px;width: 24px;display: none; " />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div id='trend_color_6' name='trend_color_6' class='col-md-1' style="height: 34px;padding:0px">
                                                    </div>
                                                    <div class="col-md-7" style="padding:0px">
                                                        <select class="form-control" id="trend_6s" name="trend_6s" onchange="change_signal(6)">
                                                            <option value="0"></option>
                                                            @foreach (var b in Model.signals)
                                                            {
                                                                <option value="@b["signal_id"]">@b["signal_name"]</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2" style="padding:0px">
                                                        <input type="text" class="form-control" id="trend_value_6" name="trend_value_6" style="padding: 2px 2px;">
                                                    </div>
                                                    <div class="col-md-1" style="padding:5px">
                                                        <img id="del_trend_6" src="/Content/_Img/delete.png" style="top:5px;height: 24px;width: 24px;display: none; " />
                                                    </div>
                                                </div>

                                            </div>

           
            </td>

            <td id="report_content" style="position:relative;height:100%; padding:10px; box-sizing:border-box;border: 2px solid blue; ">
                <!-- Меню управление -->
                <div id="cont" class="container" style="width:100%; height:100%; left:0px;  ">
                    <div class="row" style="position:relative; width:100%; height:10%;">

                        <div class="col-md-4" style="padding:0px">
                            <input type="button" class="btn btn-default" onclick="Range5min()" value="5 минут" />
                            <input type="button" class="btn btn-default" onclick="Range60mins()" value="1 час" />
                            <input type="button" class="btn btn-default" onclick="RangeDay()" value="День" />
                            <input type="button" class="btn btn-default" onclick="RangeWeek()" value="Неделя" />
                        </div> 
                        <div class="col-md-2" style="padding:0px">
                            <input type="text" id="y_value" class="form-control" value="0" />
                        </div>
                        <div class="col-md-3" style="padding:0px"> 
                                 <input src="/Content/_Img/goleft.png" style="width: 20%;vertical-align:middle; max-width:28px; padding: 2px; " type="image" onclick="RangeLeft()" value="" />
                                <input src="/Content/_Img/goright.png" style="width: 20%;vertical-align:middle;max-width:28px; padding: 2px; " type="image" onclick="RangeRight()" value="" />
                                <input src="/Content/_Img/zoomin.png" style="width: 20%;vertical-align:middle;max-width:28px; padding: 2px; " type="image" onclick="RangePlus()" value="" />
                                <input src="/Content/_Img/zoomout.png" style="width: 20%;vertical-align:middle;max-width:28px; padding: 2px; " type="image" onclick="RangeMinus()" value="" />
                                <input src="/Content/_Img/arrow_vert2.png" style="width: 20%;vertical-align:middle;max-width:28px; padding: 2px; " type="image" onclick="Switch_Y()" value="" />
                                <input src="/Content/_Img/print.png" style="width: 20%;vertical-align:middle;max-width:28px; padding: 2px; " type="image" onclick="Print()" value="" />
                                <input src="/Content/_Img/excel-icon.png" alt="Submit Form" style="width: 20%;vertical-align:middle;max-width:28px; padding: 2px;" type="image" value="" />
   

                             </div>
                        </div>

                    <div class="row" style="height:90%;">
                        <div style="width:100%; height:100%; margin:auto;">
                             <div id="placeholder" style="width:100%; height:100%;  margin:auto;"></div>
        
                        </div>
                    </div>
                    </div>

</td>
        </tr>
        <tr>
            <td>

            </td>
        </tr>
    </table>

</div> 

<div class="wrap_back" style="display: none;" id='loading'>
    <div class="loading_window"><img src='/Content/_Img/loading.gif' /></div>
</div>
}







<script type="text/javascript">

    var global_object_id = @Model.object_id;
    var start_date = @Model.start_date;
    var end_date = @Model.end_date;
    var object_type_str= '@Model.object_type_str';
    var object_name = '@Model.object_name';
    var signals_array = {
        @{
            int i = 0;
            foreach (var a in Model.signals)
            {
                if(i > 0) { <text>, </text> }
                @:@a["signal_id"]: "@a["signal_name"]"
                                i++;
            }
        }
         };

    function getobject_signals(ObjId,get_signs) {

        var get_signs=false;
        if (ObjId == undefined){
             get_signs=true;
            ObjId = document.getElementById("obj").value;}
        else if (ObjId != 0)
            document.getElementById("obj").value = ObjId;
        LoadPageOn();
        //читаем алармы
        if (get_signs)
            $.ajax({ type: "POST", url: "/Trends/GetSignals", data: { id: ObjId }, async: true, success: page_redrawsignals});
    }

    getobject_signals(@Html.Raw(@Model.object_id));
    function page_redrawsignals(data) { 


        for(i=1;i<=6;i++){
            if (document.getElementById("trend_"+i+"s").value==0){
                $("#trend_"+i+"s").empty();
                var option = document.createElement('option');
                option.text = "";
                option.value = 0;
                document.getElementById("trend_"+i+"s").add(option); }
        } 
      
        var signals_array_new={}; 
        for(var a=0;a<data.length;a++)
        {         
             
            for(i=1;i<=6;i++){ 
                if (document.getElementById("trend_"+i+"s").value==0){
                    var option = document.createElement('option');
                    option.text = data[a]["signal_name"];
                    option.value = data[a]["signal_id"];
                    document.getElementById("trend_"+i+"s").add(option)}; 
        }  
               
            signals_array_new[data[a]["signal_id"]]=data[a]["signal_name"]; 
        }
        signals_array=signals_array_new;
        
        LoadPageOff();
    }  

    var p1=0, p2=0, p3=0, p4=0, p5=0, p6=0;
  function  change_signal(p)
    {
        switch (p) {
        case 1:
            if (p1 != 0)
                RemoveTrendFromPlot(p1);
        case 2:
            if (p2 != 0)
                RemoveTrendFromPlot(p2);
        case 3:
            if (p3 != 0)
                RemoveTrendFromPlot(p3);
        case 4:
            if (p4 != 0)
                RemoveTrendFromPlot(p4);
        case 5:
            if (p5 != 0)
                RemoveTrendFromPlot(p5);
        case 6:
            if (p6 != 0)
                RemoveTrendFromPlot(p6);
        }
      var el = document.getElementById("del_trend_" + p);
      var tr = document.getElementById("trend_" + p + "s");

      AddClick(tr.value);
          if(p==1)p1=tr.value;
          if(p==2)p2=tr.value;
          if(p==3)p3=tr.value;
          if(p==4)p4=tr.value;
          if(p==5)p5=tr.value;
          if(p==6)p6=tr.value;
      el.setAttribute("onclick", "DelClick("+tr.value+","+p+")");
      var color = document.getElementsByName("trend_color_" + p);
      color[0].id="trend_color_"+tr.value;
      var value = document.getElementsByName("trend_value_" + p);
      value[0].id="trend_value_"+tr.value;
      el.style.display="block";
  }

  function  change_signal_mask( ){
      var el = document.getElementById("signal_mask");
      var journal = @Model.object_id;

          $.ajax({
              type: "POST", url: '@Url.Action("GetMaskSignals", "Trends")?id=' + journal + '&signs=' + el.value, async: false,
              success: update__signals
          });

  }
    function update__signals(data){


        for(  var j = 1;j<=6;j++){
            var combo= '#trend_'+j+'s';
            var tr = document.getElementById("trend_" + j + "s");
            if ( tr.value>0)
                continue;
            $(combo).empty();
            var option_clean = document.createElement("option");
            option_clean.text = '' ;
            option_clean.value = 0;
            $(combo).append($(option_clean));
            for(  var i = 0;i<data.length;i++){
                var option = document.createElement("option");
                option.text = data[i].signal_name ;
                option.value = data[i].signal_id;
                $(combo).append($(option));
            }


        }
    }

</script>