@using WebSphere.Domain.Concrete
@model  List<moduleCondition>
<div id="addModuleModal" class="modal fade" tabindex="-1" style="top:100px;">
    <div class=" modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">x</button>
                <h4 class="modal-title">Доступные модули</h4>
            </div>
            <div class="modal-body">

                @{var countToAdd=Model.Count();}
                @if (Model.Count() != 0)
                {
                    using (Ajax.BeginForm("AddModule", new AjaxOptions { UpdateTargetId = "ModuleInfo", OnSuccess = "addModuleSuccess" }))
                    {
                        int forRowSpan = countToAdd;
                        <table id="moduleToConnectTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Название модуля</th>
                                    <th>Описание</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr>

                                        <td class="class_select_col">
                                            <div>
                                                @Html.CheckBoxFor(m => @Model[i].isConnected, new { @class = "select_mod" })
                                                @Html.HiddenFor(m => @Model[i].idModule)
                                                @Html.HiddenFor(m => @Model[i].nameModule)
                                                @Html.HiddenFor(m => @Model[i].isRun)
                                            </div>
                                        </td>
                                        <td class="class_select_module" data-idmodule="@Model[i].idModule">
                                        @Model[i].nameModule
                                            @Html.HiddenFor(m => @Model[i].descrModule)
                                        </td>
                                        @if (i == 0)
                                        {
                                         <td id="descriptionModule" rowspan=@forRowSpan.ToString()>
                                            @Model[i].descrModule
                                         </td>
                                        }

                                    </tr>
                                }

                            </tbody>
                        </table>
                        <input id="submitAddModule" class="btn btn-success" type="submit" value="Добавить" />
                    }
                }
                else
                {
                    <div> Все модули добавлены! </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#addModuleModal').modal();
    function addModuleSuccess() {
        var currentClickId = $('[aria-selected="true"]');
        var currentClickId1 = currentClickId.attr('id');
        $('#tagInfo').load('@Url.Action("showTabProps", "Configurator")?id=' + currentClickId1);
        $('#addModuleModal').modal("hide");
    }
    $(document).ready(function () {
        $('#moduleToConnectTable tbody tr:first-child td.class_select_module').addClass('selectedModule');
        // подсветка строки при щелчке

        $('tr .class_select_module').click(function () {

            $('.selectedModule').removeClass('selectedModule');
            $(this).addClass('selectedModule');
            var modDescr = $(this).children('[type="hidden"]').val();
            $('#descriptionModule').empty().text(modDescr);

        });
        //проверка какие модули добавлены
        var checkedModsList = new Array();
        $('#submitAddModule1').click(function () {
            TestModule();
            var modToAddStr = "";
            var checkedMods;
            $('.select_mod').each(function () {
                if ($(this).is(':checked')) {
                    checkedMods = $(this).attr('data-idmodule');
                    modToAddStr += checkedMods;
                    checkedModsList.push(checkedMods);
                }
            });
            var currentClickId = $('[aria-selected="true"]');
            var currentClickId1 = currentClickId.attr('id');
            $('#ModuleInfo').load('@Url.Action("addModule", "Configurator")?idModStr=' + checkedModsList, function () {
                $('#tagInfo').load('@Url.Action("showTabProps", "Configurator")?id=' + currentClickId1);
            });
            $('#addModuleModal').modal("hide");
        });
    });

</script>
@*<script src="~/Scripts/configurator.js"></script>*@
