@model WebSphere.Domain.Entities.ObjectProps
@{
    var tt = Model;
}



<div class="tabs">
    @if (ViewBag.Notification != null)
    {
        if (ViewBag.Notification == 1)
        {
            <div id="aboutSaveNotification" class="alert alert-success feedBackAboutSaving">Данные успешно сохранены</div>
        }
        else
        {
            <div id="aboutSaveNotification" class="alert alert-error feedBackAboutSaving">Данные некорректны</div>
        }
    }
    <ul class="nav nav-tabs smile-tabs">

        <li class="active"><a class="liTab" href="#commonPropTab" data-toggle="tab">Общие свойства</a></li>
    </ul>
    <div class="tab-content">
        <div id="attensionSaveWrapper" style="height:30px; padding-top:3px">
            <div id="AttensionSave" class="alert-danger" role="alert"><img src="~/Content/images/additional/atts.png" />Внимание: имеются несохраненные данные!</div>
        </div>

        <div class="tab-pane active" id="commonPropTab">
            @using (Ajax.BeginForm("EditObjectProps", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tagInfo", OnFailure = "OnFailure" }, new { @id = "objectPropsTab" }))
            {
                @*@Html.AntiForgeryToken()*@

                <div id="propBody">
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.Name)
                    <div class="form-group row">
                        <div class="col-xs-3 ">
                            @Html.LabelFor(m => m.Id, "ID", new { @class = "control-label" })
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.Id, new { disabled = "disabled", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-3">
                            @Html.LabelFor(m => m.Address, "Адрес", new { @class = "control-label" })
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.Address)
                            @Html.ValidationMessageFor(m => m.Address)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-3">
                            @Html.LabelFor(m => m.Driver, "Драйвер", new { @class = "control-label" })
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.Driver)
                            @Html.ValidationMessageFor(m => m.Driver)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-3">
                            @Html.LabelFor(m => m.RetrCount, "Количество ретрасляторов", new { @class = "control-label" })
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.RetrCount)
                            @Html.ValidationMessageFor(m => m.RetrCount)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-3">
                            @Html.LabelFor(m => m.ParentGroup, "Родительская группа", new { @class = "control-label" })
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.ParentGroup)
                            @Html.ValidationMessageFor(m => m.ParentGroup)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-3">
                            @Html.LabelFor(m => m.PrimaryChannel, "Основной канал связи", new { @class = "control-label" })
                        </div>
                        @{
                             Dictionary<int, string> chn = ViewBag.SelectChannel;
                             Dictionary<int, string> forSelectChannelPr = new Dictionary<int, string>();
                             int primaryChannelId = Model.PrimaryChannel;

                             if (chn.Count == 0)
                             {
                                 forSelectChannelPr.Add(0, "Добавьте узел канал связи");
                                 //forSelectChannel = new Dictionary<int, string>{
                                 //                {0, "Добавьте узел канал связи"}
                                 //            };
                             }
                             else if (ViewBag.SelectChannel.ContainsKey(primaryChannelId))
                             {
                                 forSelectChannelPr = ViewBag.SelectChannel;
                             }
                             else
                             {
                                 //Dictionary<int, string> helpList = new Dictionary<int, string>();
                                 forSelectChannelPr.Add(0, "Выберите узел");
                                 foreach (var item in chn)
                                 {
                                     forSelectChannelPr.Add(item.Key, item.Value);
                                 }
                             }
                        }
                        <div class="col-xs-9">
                            @Html.DropDownListFor(m => m.PrimaryChannel, new SelectList(forSelectChannelPr, "Key", "Value"))
                            @Html.ValidationMessageFor(m => m.PrimaryChannel)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-3">
                            @Html.LabelFor(m => m.SecondaryChannel, "Дублирующий канал связи", new { @class = "control-label" })
                        </div>
                        @{

                             Dictionary<int, string> forSelectChannelSec = new Dictionary<int, string>();
                             int secondaryChannelId = Model.SecondaryChannel;

                             if (chn.Count == 0)
                             {
                                 forSelectChannelSec.Add(0, "Добавьте узел канал связи");
                             }
                             else if (ViewBag.SelectChannel.ContainsKey(secondaryChannelId))
                             {
                                 forSelectChannelSec = ViewBag.SelectChannel;
                             }
                             else
                             {
                                 forSelectChannelSec.Add(0, "Выберите узел");
                                 foreach (var item in chn)
                                 {
                                     forSelectChannelSec.Add(item.Key, item.Value);
                                 }
                             }
                        }
                        <div class="col-xs-9">
                            @Html.DropDownListFor(m => m.SecondaryChannel, new SelectList(forSelectChannelSec, "Key", "Value"))
                            @Html.ValidationMessageFor(m => m.SecondaryChannel)
                        </div>
                    </div>

                </div>
                <div id="tabButtons">
                    <button id="saveObjPropsBtn" type="submit" class="btn btn-success"> Сохранить </button>
                </div>

                @Html.ValidationSummary(true)
            }

        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#ac-1").prop('checked', true);
        calculateHeight();
        //LoadPageOff();
        if ($("#aboutSaveNotification").length > 0) {
            setTimeout(hideAboutSaveNotification, 2000);
        }
    });
</script>
