@model WebSphere.Domain.Entities.RadioChannelProps
@{
    var tt = Model;
}

<div class="tabs">
    @if (ViewBag.Notification != null)
    {
        if (ViewBag.Notification == 1)
        {
            <div id="aboutSaveNotification" class="alert alert-success feedBackAboutSaving">Данные успешно сохранены</div>
        }
        else
        {
            <div id="aboutSaveNotification" class="alert alert-error feedBackAboutSaving">Данные некорректны</div>
        }
    }
    <ul class="nav nav-tabs smile-tabs">
        <li class="active"><a class="liTab" href="#commonPropTab" data-toggle="tab">Общие свойства</a></li>
    </ul>
    <div class="tab-content">
        <div id="attensionSaveWrapper" style="height:30px; padding-top:3px">
            <div id="AttensionSave" class="alert-danger" role="alert"><img src="~/Content/images/additional/atts.png" />Внимание: имеются несохраненные данные!</div>
        </div>
        <div class="tab-pane active" id="commonPropTab">
            @using (Ajax.BeginForm("EditRadioChannelProps", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tagInfo", OnFailure = "OnFailure"}, new { @id = "RadioChannelPropsTab" }))
            {
                @*@Html.AntiForgeryToken()*@

                <div id="propBody">
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.Name)

                    <div class="form-group row">
                        <div class="col-xs-3 ">
                            @Html.LabelFor(m => m.Id, "ID", new { @class = "control-label" })
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.Id, new { disabled = "disabled", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-3">
                            @Html.LabelFor(m => m.ChannelType, "Тип", new { @class = "control-label" })
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.ChannelType)
                            @Html.ValidationMessageFor(m => m.ChannelType)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-3">
                            @Html.LabelFor(m => m.InterPollPause, "InterPollPause, мсек", new { @class = "control-label" })
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.InterPollPause)
                            @Html.ValidationMessageFor(m => m.InterPollPause)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-3">
                            @Html.LabelFor(m => m.MaxErrorsToSwitchChannel, "Макс. число ошибок при включении канала", new { @class = "control-label" })
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.MaxErrorsToSwitchChannel)
                            @Html.ValidationMessageFor(m => m.MaxErrorsToSwitchChannel)
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-xs-3">
                            @Html.LabelFor(m => m.MaxErrorsToBadQuality, "Максимальное число ошибок при некачественном сигнале", new { @class = "control-label" })
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.MaxErrorsToBadQuality)
                            @Html.ValidationMessageFor(m => m.MaxErrorsToBadQuality)
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-xs-3">
                            @Html.LabelFor(m => m.TimeTryGoBackToPrimary, "Время переключения на основной канал, сек", new { @class = "control-label" })
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.TimeTryGoBackToPrimary)
                            @Html.ValidationMessageFor(m => m.TimeTryGoBackToPrimary)
                        </div>

                    </div>

                    @{var portDict = new Dictionary<string, string>
                        {
                        {"COM0", "COM0"},
                        {"COM1", "COM1"},
                        {"COM2", "COM2"}
                        };
                    }

                    <div class="form-group row">
                        <div class="col-xs-3">
                            @Html.LabelFor(m => m.PortName, "Название порта", new { @class = "control-label" })
                        </div>
                        <div class="col-xs-9">
                            @Html.DropDownListFor(m => m.PortName, new SelectList(portDict, "Key", "Value"))
                            @Html.ValidationMessageFor(m => m.PortName)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-3">
                            @Html.LabelFor(m => m.BaudRate, "Количество символов в секунду", new { @class = "control-label" })
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.BaudRate)
                            @Html.ValidationMessageFor(m => m.BaudRate)
                        </div>

                    </div>

                    @{var parityDict = new Dictionary<int, string>
                            {
                            {0, "Не установлен"},
                            {1, "Установлен"}
                            };
                    }
                    <div class="form-group row">
                        <div class="col-xs-3">
                            @Html.LabelFor(m => m.Parity, "Бит четности", new { @class = "control-label" })
                        </div>
                        <div class="col-xs-9">
                            @Html.DropDownListFor(m => m.Parity, new SelectList(parityDict, "Key", "Value"))
                            @Html.ValidationMessageFor(m => m.Parity)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-3">
                            @Html.LabelFor(m => m.StopBits, "Kоличество стоповых битов ", new { @class = "control-label" })
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.StopBits)
                            @Html.ValidationMessageFor(m => m.StopBits)
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-xs-3">
                            @Html.LabelFor(m => m.WriteTimeout, "Таймаут при записи, мсек", new { @class = "control-label" })
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.WriteTimeout)
                            @Html.ValidationMessageFor(m => m.WriteTimeout)
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-xs-3">
                            @Html.LabelFor(m => m.ReadTimeout, "Таймаут при чтении, мсек", new { @class = "control-label" })
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.ReadTimeout)
                            @Html.ValidationMessageFor(m => m.ReadTimeout)
                        </div>

                    </div>
                </div>
                <div id="tabButtons">
                    <button id="saveObjPropsBtn" type="submit" class="btn btn-success"> Сохранить </button>
                </div>
                @Html.ValidationSummary(true)
            }
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#ac-1").prop('checked', true);
        calculateHeight();
        //LoadPageOff();
        if ($("#aboutSaveNotification").length > 0) {
            setTimeout(hideAboutSaveNotification, 2000);
        }
    });
</script>