@model WebSphere.Domain.Entities.TagProps

@*<script src="~/Scripts/configurator1.js"></script>*@


@{var item = ViewBag.TagProps;}

<div class="tabs">
    @if (ViewBag.Notification != null)
    {
        if (ViewBag.Notification == 1)
        {
            <div id="aboutSaveNotification" class="alert alert-success feedBackAboutSaving">Данные успешно сохранены</div>
        }
        else
        {
            <div id="aboutSaveNotification" class="alert alert-error feedBackAboutSaving">Данные некорректны </div>
        }
    }

    <ul class="nav nav-tabs smile-tabs">
        <li class="active"><a class="liTab" href="#commonPropTab" data-toggle="tab">Общие свойства</a></li>
        <li><a class="liTab" href="#signalsTab" data-toggle="tab">Сигналы</a></li>
        <li><a class="liTab" href="#rankTab" data-toggle="tab">Ранги</a></li>

        @if (ViewBag.ActiveModules != null)
        {
            foreach (var item2 in ViewBag.ActiveModules)
            {
                if (item2.idModule == 4)
                {
                    <li><a class="liTab" href="#AlarmTab" data-toggle="tab">Тревоги</a></li>
                }
                if (item2.idModule == 5)
                {
                    <li><a class="liTab" href="#HistoryTab" data-toggle="tab">История</a></li>
                }
            }
        }

    </ul>
    <div class="tab-content">
        <div id="attensionSaveWrapper" style="height:30px; padding-top:3px">
            <div id="AttensionSave" class="alert-danger" role="alert"><img src="~/Content/images/additional/atts.png"/>Внимание: имеются несохраненные данные!</div>
        </div>

        <div class="tab-pane active" id="commonPropTab">
            @using (Ajax.BeginForm("EditTagProps", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tagInfo", OnFailure = "OnFailure",OnBegin="getTabState", OnSuccess = "reloadTabs" }, new { @id = "TagPropsTab" }))
            {
                <div id="propBody">

                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.Name)

                    <div class="DefaultProps form-group row">
                        <div class="col-xs-3">
                            @Html.LabelFor(m => m.Id, "ID", new { @class = "control-label" })
                        </div>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.Id, new { disabled = "disabled", @readonly = "readonly" })
                        </div>
                    </div>

                    @Html.Partial("TagCommonTabPartial", Model)

                </div>
                <div id="tabButtons">
                    <button id="saveObjPropsBtn" type="submit" class="btn btn-success"> Сохранить </button>
                </div>

                @Html.ValidationSummary(true)
            }
        </div>
    </div>

</div>
<link href="~/Content/Configurator.css" rel="stylesheet" />

<script type="text/javascript">
    function showSignalsTab(nodeName) {
        //$("#commonPropTab .form-group").hide();
        $("#commonPropTab div:not(#tabButtons):not(#propBody)").hide();
        var signalsArr = ["Opc", "Connection", "RealType", "Register", "AccessType"];
        for (var prop in signalsArr) {
            $('#' + signalsArr[prop]).show();
            $('#' + signalsArr[prop] + " .col-xs-3").show();
            $('#' + signalsArr[prop] + " .col-xs-9").show();
        }
    }
    function showRankTab(nodeName) {
        $("#commonPropTab div:not(#tabButtons):not(#propBody)").hide();
        var rankArr = ["InMin", "InMax", "OutMin", "OutMax"];
        for (var prop in rankArr) {
            $('#' + rankArr[prop]).show();
            $('#' + rankArr[prop] + " .col-xs-3").show();
            $('#' + rankArr[prop] + " .col-xs-9").show();
        }
    }

    $(document).ready(function () {
        $("#ac-1").prop('checked', true);
        //УБРАТЬ ПОСЛЕ ПЕРЕХОДА НА НОВУЮ СТРУКТУРУ СВОЙТСВ ТЕГА
        if('@Model.Alarms' != null){
            disableInputs("Alarms_Permit", '@Model.Alarms.Permit');
        }
        disableInputs("History_IsPermit", '@Model.History_IsPermit');
        calculateHeight();

        if ($("#aboutSaveNotification").length > 0) {
            setTimeout(hideAboutSaveNotification, 2000);
        }

        
    });


</script>