@model WebSphere.WebUI.Models.DeleteRoleViewModel

<div class="form_help">Удалить выбранные</div>

@{
    AjaxOptions ajaxoptions = new AjaxOptions
    {
        HttpMethod = "POST",
        OnBegin = "OnBegin",
        OnSuccess = "OnSuccess",
        OnFailure = "OnFailure"
    };
}

@using (Ajax.BeginForm("Delete", ajaxoptions))
{
    @Html.AntiForgeryToken()
    <div class="account-form">
        <div class="account-wrapper">

            <div class="update_target_id">

                @Html.ValidationSummary(true)

                <div class="objs_for_op">
                    Группа(ы):

                    @{
                        int userCount = 0;
                        foreach (var i in Model.roles)
                        {
                            if (userCount + 1 != Model.roles.Count)
                            {
                                @i.Name@:;
                            }
                            else
                            {
                                @i.Name
                            }
                            userCount++;
                        }

                        // данные модели в hidden
                        for (var i = 0; i < Model.roles.Count(); i++)
                        {
                            @Html.HiddenFor(r => r.roles[i].Id)
                            @Html.HiddenFor(r => r.roles[i].Name)
                        }
                    }

                </div>
            </div>

            <div class="form-group row edit_form_btn">
                <div class="col-xs-10 col-xs-offset-0">
                    <div class="cover"><div class="load"></div></div>
                    <button id="submit_button" type="submit" class="btn_ok">OK</button>
                    <button id="btn_cancel" class="btn_cancel" type="button">Отмена</button>
                </div>
            </div>

        </div>
    </div>
}


