@using WebSphere.Domain.Entities
@model List<ContentGroup>

<h1>&nbsp;</h1>

<div class="grid clearL">

    <div class="action Link_blue1">
        <a data-ref="/ContentType/DeleteGroup" href="javascript:void(0)">
            <span class="action_delete"></span>Удалить
        </a>
    </div>

    @*<div class="pages floatR Link_blue2">
            <div class="page_info">Всего <span class="color_orange">4</span> записи/<span class="color_orange">1</span> Страница</div>
            <div class="page_nav_go">
                <div class="page_nav">
                    <a class="first_page" href="?p=1" alt="1" title="First"></a>
                    <a class="pre_page" href="?p=1" alt="1" title="Previous"></a>
                    <a class="next_page" href="?p=1" alt="1" title="Next"></a>
                    <a class="last_page" href="?p=1" alt="1" title="Last"></a>
                </div>
                <div class="page_go">
                    <input type="text" value="1" id="id_page_num_input" class="page_num_input">
                    <a id="go_page" class="go_page" href="javascript:void(0)" title="go"></a>
                </div>
            </div>
        </div>*@

    <div class="list_outBox">

        <div id="id_tbl">

            <div class="data-table">

                <table class="table table-striped table-bordered table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th class="class_select_col">
                                <div>
                                    <input type="checkbox" class="chk_selected_all" />
                                </div>
                            </th>
                            <th>
                                <div>Имя</div>
                            </th>
                            <th>
                                <div>Доп. действия</div>
                            </th>
                        </tr>
                    </thead>

                    <tbody>

                        @{ // если модель не пуста
                            if (Model.Count() > 0)
                            {
                                foreach (var i in Model)
                                {
                                    <tr>
                                        <td class="class_select_col">
                                            <div>
                                                <input class="select_row" type="checkbox" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="data_link">
                                                <a class="obj_edit_href" href="javascript:void(0);" data-ref="/ContentType/ChangeGroup" data-id="@i.Id" data-obj="@i.Name">@i.Name</a>
                                            </div>
                                        </td>
                                        <td class="td_row_menu Link_blue1">
                                            <div>
                                                <ul class="ul_row_menu">
                                                    <li>
                                                        <a class="obj_edit_href" href="javascript:void(0)" data-ref="/ContentType/ChangeGroup" data-obj="@i.Name">Изменить</a>
                                                    </li>
                                                    <li>
                                                        <a class="obj_delete_href" data-ref="/ContentType/DeleteGroup" href="javascript:void(0)" data-id="@i.Id" data-obj="@i.Name">Удалить</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }

                    </tbody>
                </table>

            </div>

        </div>
    </div>

</div>



